<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户界面</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script>

    </script>
    <style>
        .field{
            width: 300px;
            height: 200px;
            margin: 200px auto;
        }
    </style>
</head>
<body style="text-align: center">
    <fieldset class="field">
        <legend>用户界面</legend>
        <div>
            <h2>欢迎！！</h2>
            <h3></h3>
        </div>
    </fieldset>
</body>
</html>